@{
    ViewBag.Title = "Blood House";
}
<div class="jumbotron">
    <h3>Blood House</h3>
    <p class="lead">Blood House is a Mobile and Web Based application for Blood Donation</p>
</div>
<div class="row">
  
</div>